.categorieList {padding: 0px 20px 0px 5px;}
.categorieList label {vertical-align:middle;}
.categorieList input[type=checkbox] {vertical-align:middle;}
.categorieList ul li {list-style-type:none; padding: 2px 10px 2px 2px; }